// Here you can add other styles
//
.student-row {
  margin-left: 10px;
  padding: 20px 15px 15px 1px;
}

.single-student-donation.row {
  padding: 15px;
}


.donation-btn{
  margin-top: 10px;
  color: white;
  width: 140px;

}

.donation-name{
  width: 100%;
}

.alertcard{
  min-height: 50px;
}
.alertname{
  position: absolute;
  padding-bottom: 20px;
  width: 100px;
  height: 100px;
  left: 50%;
  margin-left: -50px;
}

.column-left {
  float: left;
  width: 13.333%;
}

.column-right {
  float: right;
  width: 33.333%;
}

.column-center {
  display: inline-block;
  width: 43.333%;
}
