// Here you can add other styles
//
.student-row {
  margin-left: 10px;
  padding: 20px 15px 15px 1px;
}

.single-student-donation.row {
  padding: 15px;
}


.donation-btn{
  margin-top: 10px;
  color: white;
  width: 140px;

}

.donation-name{
  width: 100%;
}